
@{
    ViewBag.Title = "ForgotPassword";
}

<h2>Forgot Password</h2>

@using (Html.BeginForm("ForgotPassword", "Account", new { area = "Account" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.Label("Enter you email or username", new { @class = "col-md-2 control-label" })
        @Html.TextBox("userString", null, new { @class = "form-control" })
    </div>
        <input type="submit" value="Send" class="btn btn-default" />
        }
