@using Periodicals.Areas.Account.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@if (Html.ViewBag.signInMessage != null)
{
    <div class="alert-danger">@Html.ViewBag.signInMessage</div>
}
<br/>

@Html.Partial("~/Areas/Account/Views/Account/_Login.cshtml", Model)



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}