
@{
    ViewBag.Title = "ResetPasswordConfirmation";
}

<h2>Reset Password Confirmation</h2>

Your password has been changed successfully!
@Html.ActionLink("Click here to log in","Login", "Account",new{area="Account"},null)