
@{
    ViewBag.Title = "ContactMessageResult";
}

<h2>Contact message result</h2>

@if (ViewBag.ContactMessage != null)
{
    @Html.ViewBag.ContactMessage
}

<p>Click here to return to <a href="http://localhost:58373">main page</a></p>